# input
genome.gtf
test.paired_end.sorted.bam
slurm-2337.out
slurm-2341.out
# logs
*.out
# results
counts.txt*
cov_genome.gtf
cov_counts.txt
# nextflow
work/
data/
results/
.nextflow
.nextflow.log*
*.pyc
nextflow-report.html
timeline-report.html
trace.txt
flowchart.*
.Rproj.user/
*.Rproj
.DS_Store
.Rproj.user
*.simg
conda/*
*/conda/*
timeline.html
nextflow.html
nextflow
